@model IEnumerable<MatchedBetsTracker.Models.Transaction>
@{
    ViewBag.Title = "Index";
}

<h2>Transactions</h2>

<p>
    @Html.ActionLink("New Transactions", "New", "Transaction", null, new { @class = "btn btn-primary" })
</p>

@Html.Partial("_Transactions")

@section scripts
{
    @Scripts.Render("~/bundles/mycode_transactions") 
}