@model IEnumerable<MatchedBetsTracker.Models.Transaction>
@{
    ViewBag.Title = "Index";
}

<h2>Transactions</h2>

<p>
    @Html.ActionLink("New Transactions", "New", "Transaction", null, new { @class = "btn btn-primary" })
</p>

@Html.Partial("_Transactions")

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#transactions .js-change-status").on("click",
                function() {
                    if (confirm("Are you sure you want to change status?")) {
                        $.ajax({
                            url: "/api/transactions/UpdateTransactionValidationStatus?id=" + $(this).attr("data-transaction-id") + "&isValid=true",
                            method: "PUT",
                            success: function() {
                                console.log("Changed status");
                            }
                        });
                    }
                });
        });
    </script>
}