@model IEnumerable<MatchedBetsTracker.Models.Bet>
@{
    ViewBag.Title = "Index";
}

<h2>Bets</h2>

<p>
    @Html.ActionLink("New Bet", "New", "Bet", null, new { @class = "btn btn-primary" })
</p>

@Html.Partial("_Bets")

@section scripts
{
    @Scripts.Render("~/bundles/mycode_bets")
}