@model MatchedBetsTracker.ViewModels.BrokerAccountDetailsViewModel
    
<h1>@Html.ActionLink(Model.BrokerAccount.Name, "Edit", "BrokerAccount", new { Id = Model.BrokerAccount.Id }, null)</h1>

<h2>Transactions</h2>
@Html.Partial("_Transactions", Model.Transactions)