@model IEnumerable<MatchedBetsTracker.ViewModels.BrokerAccountWithSummariesViewModel>

@{
    ViewBag.Title = "title";
}

<h2>Broker Accounts</h2>

<p>
    @Html.ActionLink("New Broker Account", "New", "BrokerAccount", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Broker Account</th>
        <th>Available</th>
        <th>Open Bet Responsability</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var brokerAccount in Model)
        {
            var brokerAccountAmount = brokerAccount.AmountValidated.ToString("F2");
            if (Math.Abs(brokerAccount.AmountTotal - brokerAccount.AmountValidated) < 0.01)
            {
                brokerAccountAmount += " (" + brokerAccount.AmountTotal.ToString("F2") + ")";
            }

            var brokerAccountOpenResponsability = brokerAccount.OpenBetsResponsabilityValidated.ToString("F2");
            if (Math.Abs(brokerAccount.OpenBetsResponsabilityTotal - brokerAccount.OpenBetsResponsabilityValidated) < 0.01)
            {
                brokerAccountAmount += " (" + brokerAccount.OpenBetsResponsabilityTotal.ToString("F2") + ")";
            }

            <tr>
                <td>@Html.ActionLink(brokerAccount.BrokerAccount.Name, "Details", "BrokerAccount", new {Id = brokerAccount.BrokerAccount.Id}, null)</td> 
                <td>@brokerAccountAmount</td>
                <td>@brokerAccount.OpenBetsResponsabilityValidated</td>
            </tr>
        }
    </tbody>
</table>
