@model IEnumerable<MatchedBetsTracker.Models.BrokerAccount>

@{
    ViewBag.Title = "title";
}

<h2>Broker Accounts</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Broker Account</th>
        <th>Additional Column</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var brokerAccount in Model)
        {
            <tr>
                <td>@Html.ActionLink(brokerAccount.Name, "Details", "BrokerAccount", new {Id = brokerAccount.Id}, null)</td> 
                <td>Available</td>
            </tr>
        }
    </tbody>
</table>
