@model IEnumerable<MatchedBetsTracker.ViewModels.BrokerAccountWithSummariesViewModel>

@{
    ViewBag.Title = "title";
}

<h2>Broker Accounts</h2>

<p>
    @Html.ActionLink("New Broker Account", "New", "BrokerAccount", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Broker Account</th>
        <th>Available (Validated)</th>
        <th>Available (Theroretical)</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var brokerAccount in Model)
        {
            <tr>
                <td>@Html.ActionLink(brokerAccount.BrokerAccount.Name, "Details", "BrokerAccount", new {Id = brokerAccount.BrokerAccount.Id}, null)</td> 
                <td>@brokerAccount.ValidatedAmount</td>
                <td>@brokerAccount.TheoreticalAmount</td>
            </tr>
        }
    </tbody>
</table>
