@model System.Data.Entity.DbSet<MatchedBetsTracker.Models.BrokerAccount>

@{
    ViewBag.Title = "title";
}

<h2>Broker Accounts</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Broker Account</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var brokerAccount in Model)
        {
            <tr>
                <td>@brokerAccount.Name</td> 
            </tr>
        }
    </tbody>
</table>
