@model IEnumerable<MatchedBetsTracker.Models.MatchedBet>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Event Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var matchedBet in Model)
    {
        <tr>
            <td>@Html.ActionLink(matchedBet.Id.ToString(), "Details", "MatchedBet", new { Id = matchedBet.Id }, null)</td>
            <td>@matchedBet.UserAccount.Name</td>
            <td>@Html.ActionLink(matchedBet.EventDescription.ToString(), "Details", "MatchedBet", new { Id = matchedBet.Id }, null)</td>
            <td>@matchedBet.Status.ToString()</td>                
        </tr>
    }
    </tbody>
</table>
