@model MatchedBetsTracker.Models.SportEventsViewModel
@{
    ViewBag.Title = "Index";
}

@if (Model.ShowClosed)
{
    <p>
        @Html.ActionLink("Hide Closed Events", "Index", "SportEvent", new { showClosed = false }, new { @class = "btn btn-primary" })
    </p>
}
else
{
    <p>
        @Html.ActionLink("Show Closed Events", "Index", "SportEvent", new { showClosed = true }, new { @class = "btn btn-primary" })
    </p>
}

<h2>Sport Events</h2>

@Html.Partial("_SportEvents", Model.SportEvents)

@section scripts
{
    @Scripts.Render("~/bundles/mycode_bets")
}